{% extends 'base.html' %}
    {% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>LIFT</h1>
            <p>Track your High Intensity Workout.</p>
            <p>See your progress in charts.</p>
            <p><a class="btn btn-primary btn-lg" href="{{url_for('users.signup')}}" role="button">Create Account</a>
            <a class="btn btn-success btn-lg" href="{{url_for('users.login')}}" role="button">Sign In</a></p>
        </div>
    </div>
{% endblock %}
