{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Update Workout for {{workout.date.strftime("%A, %d %b %Y")}}</h1>
    <p class="text-center"><a href="{{url_for('users.show', id=workout.user_id)}}">Home</a> | <a href="{{url_for('workouts.index', user_id=workout.user_id)}}">List Workouts</a></p>
    <div class="container">

      <form action="{{url_for('workouts.show', user_id=workout.user_id, wo_id=workout.id)}}?_method=PATCH" method="POST">
         {{ form.csrf_token }}

            <p>
              {{ form.location.label }}
              {{ form.location }}
              <span>
                {% if form.location.errors %}
                  {% for error in form.location.errors %}
                    {{ error }}
                  {% endfor %}
                {% endif %}
              </span>
            </p>
            <p></p>
            <p>
              {{ form.length.label }}
              {{ form.length }}
              <span>
                {% if form.length.errors %}
                  {% for error in form.length.errors %}
                    {{ error }}
                  {% endfor %}
                {% endif %}
              </span>
            </p>
            <p></p>
            <p>
              {{ form.comment.label }}
              {{ form.comment }}
              <span>
                {% if form.comment.errors %}
                  {% for error in form.comment.errors %}
                    {{ error }}
                  {% endfor %}
                {% endif %}
              </span>
            </p>

          <button type="submit" class="btn btn-primary">Update</button>
      </form>
      <br>
      <form action="{{url_for('workouts.show', user_id=workout.user_id, wo_id=workout.id)}}?_method=DELETE" method="POST">
        {{ form.csrf_token }}
          <button type="submit" class="btn btn-danger">Delete</button>

      </form>
    </div>
{% endblock %}