{% extends 'base.html' %}
{% block content %}
  <h3 class="text-center">Update Workout for {{workout.date.strftime("%a, %d %b %Y")}}</h3>
  <p class="text-center"><a href="{{url_for('users.show', id=workout.user_id)}}">Home</a> | <a href="{{url_for('workouts.index', user_id=workout.user_id)}}">List Workouts</a></p>
  <div class="container">
    <form action="{{url_for('workouts.show', user_id=workout.user_id, wo_id=workout.id)}}?_method=PATCH" method="POST">
      {{ form.csrf_token }}
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <p>
            {{ form.location.label }}
            {{ form.location(class="form-control") }}
            <span>
              {% if form.location.errors %}
                {% for error in form.location.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
          </p>
          <p></p>
          <p>
            {{ form.length.label }}
            {{ form.length(class="form-control") }}
            <span>
              {% if form.length.errors %}
                {% for error in form.length.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
          </p>
          <p></p>
          <p>
            {{ form.comment.label }}
            {{ form.comment(class="form-control") }}
            <span>
              {% if form.comment.errors %}
                {% for error in form.comment.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
        {% for activity in workout.activities %}
          <div class="form-inline form-group text-center">
            <fieldset>
              <legend>{{activity.exercise.name}}</legend>
                <label># of reps
                  <input type="number" class="form-control" name="exercises[reps][{{activity.exercise_id}}]" value="{{activity.reps}}"></label>
                <label>weight
                  <input type="number" class="form-control" name="exercises[weight][{{activity.exercise_id}}]" value="{{activity.weight}}"></label>
                <label>comment
                  <input type="text" class="form-control" name="exercises[comment][{{activity.exercise_id}}]" value="{{activity.comment}}"></label>
            </fieldset>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="text-center">
          <button type="submit" class="btn btn-primary wo-save">Save</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
