{% extends 'base.html' %}
{% block content %}
  <p class="text-center">
    <a href="{{url_for('users.show', id=user.id)}}">Home</a> |
    <a href="{{url_for('users.logout')}}">Log Out</a>
  </p>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <a class="btn btn-success btn-block btn-lg" href="{{url_for('workouts.new', user_id=user.id)}}">New Workout</a>
      </div>
    </div>
    <h3 class="text-center">Workout Listing</h3>

    <table class="table table-striped table-responsive">
      <tbody>
      {% for workout in workouts %}
        <tr>
          <td>
            <h3><a href="{{url_for('workouts.show', user_id=user.id, wo_id=workout.id)}}">{{workout.date.strftime("%a, %d %b %Y")}}</a></h3>
            <h4>{{workout.location}}, {{workout.length}} minutes</h4>
            <p>Comment: {{workout.comment}}</p>
          </td>
          <td class="vert-aligned">
            <a class="btn btn-primary" href="{{url_for('workouts.edit', user_id=user.id, wo_id=workout.id)}}" role="button">Edit</a>
          </td>
          <td class="vert-aligned">
            <form action="{{url_for('workouts.show', user_id=workout.user_id, wo_id=workout.id)}}?_method=DELETE" method="POST">
              {{ form.csrf_token }}
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
