{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">New Workout</h1>
    <p class="text-center"><a href="{{url_for('users.show', id=user_id)}}">Home</a></p>
    <div class="container">
        <form action="{{url_for('workouts.index', user_id=user_id)}}" method="POST">

            {{ form.csrf_token }}
      <p>
      {{ form.location.label }}
      {{ form.location(autofocus=true) }}
      <span>
        {% if form.location.errors %}
          {% for error in form.location.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      </span>
    </p>
    <p></p>
    <p>
      {{ form.comment.label }}
      {{ form.comment }}
      <span>
        {% if form.comment.errors %}
          {% for error in form.comment.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      </span>
    </p>
    {% for exercise in exercises %}
    <fieldset>
    <legend>{{exercise.name}}</legend>
      <label># of reps
       <input type="number" name="exercises[reps][{{exercise.id}}]"></label>
      <label>weight
       <input type="number" name="exercises[weight][{{exercise.id}}]"></label>
      <label>comment
       <input type="text" name="exercises[comment][{{exercise.id}}]"></label>
     </fieldset>
    {% endfor %}
  <button class="btn btn-success" type="submit">Save</button>
</form>
    </div>
{% endblock %}