{% extends 'base.html' %}
{% block content %}
    <h3 class="text-center">Workout for {{workout.date.strftime("%A, %d %b %Y")}}</h3>
    <p class="text-center"><a href="{{url_for('users.show', id=user_id)}}">Home</a> |
    <a href="{{url_for('workouts.new', user_id=workout.user_id)}}">Add a workout</a> |
    <a href="{{url_for('workouts.index', user_id=workout.user_id)}}">List all workouts</a> |
    <a href="{{url_for('workouts.edit', user_id=workout.user_id, wo_id=workout.id)}}">Edit this workout</a>
    </p>
    <div class="container">

        <h3>{{workout.location}}</h3>
        <h4>Length: {{workout.length}} minutes</h4>
        <h5>Comment: {{workout.comment}}</h5>

        {% for activity in workout.activities %}

        <h4>{{activity.exercise.name}}: {{activity.reps}} reps @ {{activity.weight}} lbs.</h4>
        <p>{{activity.comment}}</p>

        {% endfor %}        
    </div>
{% endblock %}