body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  margin-top: -20px;
}

header {
  background: #b0bec5;
  height: 10vh;
  border-bottom: 1px solid darkgray;
}

input {
    margin-right: 5px;
}

.header-logo {
  height: 10vh;
  line-height: 10vh;
  white-space: nowrap;
}

.header-logo, #start-logo {
  color: brown;
}

.blurb p {
  color: steelblue;
  font-weight: 400;
}

.blurb {
  margin: 5vh 0 7vh 0;
}

.bar{
  fill: steelblue;
}

.bar:hover{
  fill: brown;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
