{% extends 'base.html' %}

{% block content %}
  <h3 class="text-center">New Exercise</h3>
  <p class="text-center">
    <a href="{{url_for('users.index')}}">Home</a> |
    <a href="{{url_for('exercises.index')}}">Exercises</a>
  </p>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <form method="POST" action="{{url_for('exercises.index')}}">
          {{ form.csrf_token }}
          <p>
            {{form.name.label}}
            {{form.name(autofocus=true)}}
          </p>
          <button type="submit" class="btn btn-success">Save</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
